# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
android/
ios/
web/
linux/
macos/
windows/
**/Generated.xcconfig
**/Pods/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.melos_tool/
coverage/
.env
.idea/
.vscode/
